# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Command Pattern Demo.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\__PROJETS\__GITHUB\unityJuniorProgrammer\Command Pattern Demo\.idea\.idea.Command Pattern Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
